body {
    margin: 0;
    padding: 0;
    z-index: 1;

    background-color: rgb(37, 37, 37);
    background-color: rgb(231, 231, 231);
    
    font-family: 'Outfit', sans-serif;
}

h1 {
    margin-top: 15px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 0 #14263d, 2px -2px 0 #4074b5, -2px 2px 0 #4074b5, -2px -2px 0 #4074b5, 2px 0px 0 #4074b5, 0px 2px 0 #4074b5, -2px 0px 0 #4074b5, 0px -2px 0 #4074b5, 0px 0px 0px rgba(0,49,158,0);
    letter-spacing: 3px;
    opacity: 0.9;
}

h4 {
    color: #777777;
    margin: 20px 0 10 0;
}



header {
    position: sticky;
    background-color: white;
    z-index: 3; 
    top: 0;
    width: 100%;
    height: 70px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: -1px 1px 10px 2px rgba(0,0,0,0.1);
}

.logo {
    height: 36px;
    margin-left: 5%;
}

form {
    max-width: 200px;
    height: 30px;
    margin-right: 5%;
    border: 1px solid rgba(78, 78, 78, 0.2);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.input-field {
    width: 100%;
    height: 18px;
    border-radius: 15px;
    color: gray;
}

.submit-btn {
    height: 25px;
    margin-right: 1px;
    background-color:  #fdcb03;
    border-radius: 10px;
    border: none;
    border: 2px solid #356ABC;
    color: #356ABC;
    cursor: pointer;
}

.submit-btn:hover {
    background-color:  #fcd32f;
}

input {
    margin-left: 5px;
    width: 250px;
    height: 22px;
    border: none;
    outline: none;
}


.stage {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.icon-container {
    margin: 5px;
    height: 310px;
    width: 310px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    position: relative;
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    border: 2px groove rgba(212, 211, 211, 0.5);
    box-shadow: -1px 1px 2px 2px rgba(0,0,0,0.4);
    transition: all 225ms ease-in-out;
    cursor: pointer;
}

.card:hover {
    height: 100%;
    width: 100%;
    transition: all 225ms ease-in-out;
}

.card-top {
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.full-card {
    position: absolute;
    margin-top: 20px;
    z-index: 3;
    width: 95%;
    max-height: 620px;
    max-width: 340px;
    cursor: default;
}

.overlay {
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: white;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.card-nav {
    margin-bottom: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;

}

.card-nav img {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.card-nav img:first-child {
    transform: rotate(180deg);
}

/* .card-nav button {
    width: 40px;
    padding: 5px 30px 5px 30px;
    font-size: 20px;
    background-color: #e2df32;
    color: rgb(192, 192, 192);
    border: none;
    border-radius: 6px;
} */

.icon-pokedex-logo {
    margin-top: 10px;
    height: 25px;
    width: auto;
}

.icon-pokemon-img{
    margin-top: 5px;
    height: 120px;
    width: 120px;
    transition: all 225ms ease-in-out;
}

.icon-ball {
    position: absolute;
    z-index: 1;
    top: 90px;
    height: 200px;
    opacity: 0.2;
}

.ball-rotation {
    animation: rotation 30s infinite linear;

}

@keyframes rotation {
    from {
        transform: rotate(0deg);

    }
    to {
        transform: rotate(360deg);

    }
}

.number-container {
    margin-top: 20px;
    margin-bottom: 20px;
    height: 30px;
    width: 80px;
    background-color: rgba(71, 70, 70, 0.8);
    border-radius: 5px;
}

.number-container h3 {
    margin: 0;
    padding: 2px;
    color:  #faca09;
    text-shadow: 0 0 10px #FFFFFF;
    text-align: center;
}

.white-inlay {
    height: 240px;
    width: 99%;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.chart-container {
    margin-top: 10px;
    width: 95%;
    height: 170px;
    display: flex;
    align-items: center;
}

.description {
    font-size: 16px;
    color: #8a8a8a;
    margin-top: 20px;
    width: 88%;
    text-align: center;
}

.details-container {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}


.details-container h4, .details-container p {
    color: #747474;
    margin-top: 5px;
    margin-bottom: 5px;
}

.type-container {
    width: 88%;
    display: flex;
    justify-content: space-around;
}

.type {
    padding: 2px 0 2px 0;
    width: 110px;
    background-color: rgb(177, 174, 174);
    text-align: center;
    border-radius: 5px;
    color: white;
}

nav {
    margin-top: 20px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #faca09;
    padding-bottom: 5px;   
}

nav div {
    cursor: pointer;
    font-weight: 400;
    color: grey;
}

.full-width {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}


.grass {
    background-color: green;
    background-image: linear-gradient(to bottom,  #3ACB98 10%, #b7dbce 100%);
}

.fire {
    background-color: #f34923;
    background-image: linear-gradient(to bottom, #f34923 60%, #e7c0b7 100%);
    
}

.water {
    background-color: #32B3E2;
    background-image: linear-gradient(to bottom, #32B3E2 10%, #b8d6e0  100%);
    
}

.bug {
    background-color: #32e2bc;
    background-image: linear-gradient(to bottom, #32e2bc 10%, #b9e4da 100%);
    
}

.normal {
    background-color: #32cde2;
    background-image: linear-gradient(to bottom, #32cde2  10%, #bee1e6 100%);
    
}

.poison {
    background-color: #a132e2;
    background-image: linear-gradient(to bottom, #a132e2 10%, #d1b7e0  100%);
    
}

.electric {
    background-color: #e2df32;
    background-image: linear-gradient(to bottom, #e2df32 10%, #e2e2c5 100%);
    
    
}

.ground {
    background-color: #e2aa32;
    background-image: linear-gradient(to bottom, #e2aa32 10%, #e4d9c1 100%);
    
}

.fairy {
    background-color: #F6B6BC;
    background-image: linear-gradient(to bottom, #F6B6BC 60%, #f1e4e6 100%);
    
}

.fighting {
    background-color: #ACA6A6;
    background-image: linear-gradient(to bottom, #ACA6A6 20%, #ebe5e5 100%);
    
}

.psychic {
    background-color: #f162f1;
    background-image: linear-gradient(to bottom, #f162f1 20%, #f0c9f0 100%);
    
    
}

.standard {
    background-color: #c4aeae;
    background-image: linear-gradient(to bottom, #c4aeae 20%, #ebe1e1 100%);
    
}






























/* alt */
/* .card {
    width: 90%;
    border: 1px groove  yellow;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */



/* .card img {
    height: 220px;
    width: 220px;
    object-fit: contain;

    border: 1px solid;
} */

.d-none {
    display: none;
}